name: cd

on:
  workflow_call:
    inputs:
      tfe_token:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Mask secrets
        run: |
          echo "::add-mask::${{ inputs.tfe_token }}"

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
            terraform_version: 1.6.6
            cli_config_credentials_token: ${{ inputs.tfe_token }}
  
      - name: Terraform Init
        run: terraform init
        working-directory: Terraform

      - name: Terraform Plan
        run: terraform plan
        working-directory: Terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: Terraform