name: ci

on:
  push:
    branches:
      - main

jobs:
  lint:
    permissions:
      contents: read
      actions: write
    uses: ./.github/workflows/lint.yml

  test:
    permissions:
      contents: read
      actions: write
    uses: ./.github/workflows/test.yml

  security-scan:
    permissions:
      contents: read
      security-events: write
      actions: write
    uses: ./.github/workflows/security-scan.yml

  build:
    permissions:
      contents: read
      actions: write
    uses: ./.github/workflows/build.yml

  deploy:
    permissions:
      contents: read
      actions: write
    uses: ./.github/workflows/cd.yml