name: ci

on:
  push:
    branches:
      - main

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    uses: ./.github/workflows/test.yml

  security-scan:
    uses: ./.github/workflows/security-scan.yml

  build:
    needs: [lint, test, security-scan]
    uses: ./.github/workflows/build.yml

  deploy:
    needs: [lint, test, security-scan, build]
    uses: ./.github/workflows/cd.yml