name: test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Run Python Unit Tests
        run: |
          python -m pip install -r tests/requirements-test.txt
          python -m pytest tests --cov=Lambdas --cov-branch --cov-report=term-missing --cov-report=xml

      - name: Upload Python Coverage Reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run Node.js Unit Tests
        run: |
          cd Lambdas/gallery_api
          npm install
          npm test

      - name: Upload Node.js Coverage Reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./Lambdas/gallery_api/coverage/lcov.info
          flags: nodejs
          name: Node.js Coverage